@import url("reset.css");

@font-face {
  font-family: "BlueWinter";
  src: url('../fonts/BlueWinter.otf');
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400; /* 500、700 */
  font-style: normal;
  font-size: 14px;
  width: 1100px;
  margin: 0 auto;
}

body.sportmatch{
  background-color: #CDEBEF;
}

body.unihub{
  background-color: #D9D8E9;
}

body.bubbleco{
  background-color: #F1E2CB;
}

body.blood{
  background-color: #E3E3E3;
}

.wrapper {}

.title {
  font-size: 72px;
  margin-bottom: 20px;
}

.sec-title {  
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.third-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

.forth-title{
  font-size: 20px;
  font-weight: bold;
}

/* ----------------上方標題列---------------- */
.header{
    background-color: #fff;
    height: 80px;
    width: 100%;
    line-height: 80px;
    border-bottom: 3px solid #000;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .logo{
    text-decoration: none;
    color: #000;
    font-family: "BlueWinter", sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.menu{
  margin: 0 100px;
  margin-top: 120px;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  background-color: #fff;
  /* border: 3px solid #000; */
  padding: 5px;
}

.menu li{}

.menu li a{
    display: block;
    text-decoration-line: none;
    padding: 12px 20px;
    border-radius: 80px;
    color: #000000;
    font-size: 20px;
    transition: 0.6s ;
}
/*  */
.menu li a:not(.active):hover{
    background-color: #f0f0f0;
}

.menu .active{
    background-color: #000;
    color: #fff;
}

/* 主視覺區塊 */
.top {
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.left {}

.left .title {
  font-family: "BlueWinter", sans-serif;
  margin-bottom: 30px;
}

.left .third-title {
  margin-bottom: 30px;
}

.hashtag{
  display: flex;
  gap: 12px;
}

.hashtag li{
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 50px;
  color: #000;
  border: 3px solid #000;
}

.right{
    position: relative;
}

.right .pro-img img {
  width: 480px;
}

.right .pro-img .Pro44 {
  width: 470px;
}

.right .demo-btn {
  background-color: hsla(0, 0%, 100%, 0.613);
  padding: 16px 32px;
  border: 3px solid hsla(0, 0%, 0%);
  border-radius: 50px;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right .demo-btn:hover {
  background-color: hsla(0, 0%, 0%, 0.613);
  color: #fff;
  border: 3px solid #00000000;
}

/* 專案特色區塊 */
.keyword{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  margin-bottom: 80px;
}
.keyword li{
  height: 320px;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  width: 280px;
  background-color: #fff;
  padding: 20px 0;
}

.keyword img{
    width: 80%;
    margin-top: -30px;
}



/* .keyword li span{

} */

.keyword li .text{

}

/* .keyword li span i{
  display: flex;
  width: 80px;
  height: 80px;
  background-color: #fff;
  line-height: 50px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #f27373;
} */

.keyword li .forth-title{
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
}

.keyword li p{
  width: 200px;
  text-align: center;
  line-height: 1.5;
}

/* 簡報區塊 */
.imgarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  /* background-color: antiquewhite; */
  /* width: 80%; */
  margin: 50px auto;
}
.imgarea img {
  width: 90%;
}

.toTop{
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;

    /* 一開始隱藏 */
  opacity: 0;
  visibility: hidden;

  /* 往下偏一點 */
  transform: translateY(20px);
  transition: all .4s ease;
}

.toTop.show{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.toTop:hover{
  background-color: #000;
  color: #fff;
  transform: translateY(-5px);
}